In [ ]:
# postgresql://postgres:admin@localhost/postgres

# С использованием psycopg2

In [21]:
import psycopg2
from config import config

connection = psycopg2.connect(**config())

cur = connection.cursor()

main_query = """ 
TRUNCATE TABLE book;
"""
oleg_query = """SELECT * FROM book;"""
cur.execute(main_query)

#print(cur.fetchall())
connection.commit()

cur.close()
connection.close()

In [ ]:
# Создаем курсор для выполнения SQL-запросов
cur = connection.cursor()
# SQL-запрос для создания роли
create_role_query = """
CREATE ROLE userPSY WITH LOGIN PASSWORD 'userPSY';
"""
grant_role_query = """GRANT SELECT ON book TO userPSY;"""

# Выполняем запрос
cur.execute(grant_role_query)

# Фиксируем изменения
connection.commit()

# Закрываем курсор и соединение
cur.close()
connection.close()

# С использованием sqlalchemy

In [ ]:
import sqlalchemy

In [ ]:
from sqlalchemy import create_engine, text

# Создание подключения к базе данных
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/postgres')

# Тестовое подключение
with engine.connect() as connection:
    result = connection.execute(text("SELECT version();"))
    print(result.fetchone())

('PostgreSQL 16.4 (Postgres.app) on aarch64-apple-darwin21.6.0, compiled by Apple clang version 14.0.0 (clang-1400.0.29.102), 64-bit',)

In [ ]:
# GRANT - предоставление прав
with engine.connect() as connection:
    try:
        connection.execute(text("CREATE ROLE user234 WITH LOGIN PASSWORD 'user234';"))
        connection.execute(text("GRANT SELECT ON book TO user234;"))
    except Exception as e:
        print(f"Error: {e}")
    #connection.execute("GRANT INSERT, UPDATE ON example_table TO user2;")

# REVOKE - отзыв прав
#with engine.connect() as connection:
    #connection.execute("REVOKE INSERT, UPDATE ON example_table FROM user2;")

In [ ]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT current_user;"))
    print(result.fetchall())

[('postgres',)]

In [ ]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT rolname FROM pg_roles;"))
    roles = result.fetchall()
    for role in roles:
        print(role[0])

pg_database_owner
pg_read_all_data
pg_write_all_data
pg_monitor
pg_read_all_settings
pg_read_all_stats
pg_stat_scan_tables
pg_read_server_files
pg_write_server_files
pg_execute_server_program
pg_signal_backend
pg_checkpoint
pg_use_reserved_connections
pg_create_subscription
timofejborisov
postgres
user1
userpsy

In [ ]:
import pandas as pd

query = "SELECT * FROM book;"
df = pd.read_sql(query, engine)
print(df)

   book_id                  title            author   price  amount
0        1     Мастер и Маргарита     Булгаков М.А.  670.99       3
1        2          Белая гвардия     Булгаков М.А.  540.50       5
2        3                  Идиот  Достоевский Ф.М.  460.00      10
3        4      Братья Карамазовы  Достоевский Ф.М.  799.01       2
4        5  Стихотворения и поэмы       Есенин С.А.  650.00      15

# С использованием магии %%sql:

In [ ]:
%load_ext sql
%sql postgresql+psycopg2://postgres:admin@localhost:5432/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
SELECT * FROM book;

 * postgresql+psycopg2://postgres:***@localhost:5432/postgres
5 rows affected.

[(1, 'Мастер и Маргарита', 'Булгаков М.А.', Decimal('670.99'), 3),
 (2, 'Белая гвардия', 'Булгаков М.А.', Decimal('540.50'), 5),
 (3, 'Идиот', 'Достоевский Ф.М.', Decimal('460.00'), 10),
 (4, 'Братья Карамазовы', 'Достоевский Ф.М.', Decimal('799.01'), 2),
 (5, 'Стихотворения и поэмы', 'Есенин С.А.', Decimal('650.00'), 15)]

# Гайд

### 1. Установка и импорт необходимых библиотек
Убедитесь, что у вас установлены необходимые библиотеки:

```python
!pip install sqlalchemy psycopg2-binary pandas
```

Импортируйте необходимые модули:

```python
import pandas as pd
from sqlalchemy import create_engine, text
```

### 2. Настройка подключения к базе данных
Создайте подключение к базе данных:

```python
engine = create_engine('postgresql://your_username:your_password@your_host:your_port/your_database_name')
```

### 3. Общий вид паттерна SQL конструкции, последовательность выполнения шагов запроса
Для понимания последовательности выполнения шагов в SQL, можно написать сложный запрос, включающий `SELECT`, `FROM`, `JOIN`, `WHERE`, `GROUP BY`, `HAVING`, и `ORDER BY`. Вот пример:

```python
query = """
SELECT city, COUNT(*) as trip_count, AVG(per_diem) as avg_per_diem
FROM trip
WHERE per_diem > 450
GROUP BY city
HAVING COUNT(*) > 1
ORDER BY avg_per_diem DESC;
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

### 4. Операции DML, DDL, DCL и TCL
- **DML (Data Manipulation Language)**: Выполняйте операции `INSERT`, `UPDATE`, и `DELETE`.

```python
# Пример DML: Обновление данных
update_query = """
UPDATE trip
SET per_diem = 750
WHERE city = 'Москва' AND per_diem = 700;
"""

with engine.connect() as connection:
    connection.execute(text(update_query))
```

- **DDL (Data Definition Language)**: Выполняйте операции создания, изменения и удаления структур данных.

```python
# Пример DDL: Создание новой таблицы
create_table_query = """
CREATE TABLE department (
    dept_id SERIAL PRIMARY KEY,
    dept_name VARCHAR(50)
);
"""

with engine.connect() as connection:
    connection.execute(text(create_table_query))
```

- **DCL (Data Control Language)**: Выполняйте операции управления доступом (`GRANT`, `REVOKE`).

```python
# Пример DCL: Выдача прав
grant_query = """
GRANT SELECT ON TABLE trip TO some_user;
"""

with engine.connect() as connection:
    connection.execute(text(grant_query))
```

- **TCL (Transaction Control Language)**: Работайте с транзакциями (`COMMIT`, `ROLLBACK`).

```python
# Пример TCL: Работа с транзакцией
with engine.begin() as connection:
    try:
        connection.execute(text("UPDATE trip SET per_diem = 800 WHERE city = 'Новосибирск';"))
        connection.execute(text("DELETE FROM trip WHERE city = 'Владивосток';"))
        connection.commit()
    except:
        connection.rollback()
```

### 5. Работа со множествами (UNION, EXCEPT, INTERSECT, IN, NOT IN)

- **UNION**:

```python
query = """
SELECT name, city FROM trip WHERE city = 'Москва'
UNION
SELECT name, city FROM trip WHERE city = 'Новосибирск';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **EXCEPT**:

```python
query = """
SELECT name FROM trip WHERE city = 'Москва'
EXCEPT
SELECT name FROM trip WHERE city = 'Новосибирск';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **INTERSECT**:

```python
query = """
SELECT name FROM trip WHERE city = 'Москва'
INTERSECT
SELECT name FROM trip WHERE city = 'Новосибирск';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **IN / NOT IN**:

```python
query = """
SELECT name FROM trip WHERE city IN ('Москва', 'Новосибирск');
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

### 6. Операторы объединения (JOIN, LEFT/RIGHT, INNER/OUTER JOIN)

```python
# Пример JOIN
query = """
SELECT trip.name, trip.city, department.dept_name
FROM trip
JOIN department ON trip.city = department.dept_name;
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

### 7. Работа с фильтрами, базовые условные операторы, операторы EXISTS, IN, ANY, ALL, LIKE, RLIKE

- **EXISTS**:

```python
query = """
SELECT name FROM trip WHERE EXISTS (
    SELECT 1 FROM department WHERE trip.city = department.dept_name
);
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **ANY / ALL**:

```python
query = """
SELECT name FROM trip WHERE per_diem > ALL (
    SELECT per_diem FROM trip WHERE city = 'Москва'
);
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **LIKE**:

```python
query = """
SELECT name FROM trip WHERE name LIKE 'А%';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

- **RLIKE (Регулярное выражение для PostgreSQL)**:

```python
query = """
SELECT name FROM trip WHERE name ~ '^С';
"""

with engine.connect() as connection:
    result = connection.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

print(df)
```

### 8. Закрытие подключения
Не забудьте закрыть подключение, если оно вам больше не нужно:

```python
engine.dispose()
```

### Заключение
Этот подход позволяет вам писать и выполнять чистый SQL, используя Jupyter Notebook для отработки различных аспектов SQL: от базовых запросов до сложных операций с множествами и объединениями. Вы можете легко переключаться между разными темами, тренируясь на реальных данных, а затем анализировать результаты с помощью pandas.